<html>
<head></head>



<body>
<form action = '/add-trip' method = 'POST'>
    <input type = 'text' name = 'tripName' placeholder = 'Trip Name'>
    <input type = 'text' name = 'tripImage' placeholder = 'Trip Image (URL)'>
    <input type = 'date' name = 'tripStart' placeholder = 'Trip Start'>
    <input type = 'date' name = 'tripEnd' placeholder = 'Trip End'>
    <button type = 'submit'>Add Trip!</button>
</form>    
</body>

</html>